.nav_shoppping_cart  {
	height: 148px;
	background-color: #f8f3f4;
	margin-bottom: 80px;
}

.nav_shoppping_cart  h2 {
	float: left;
	color: #f16d7f;
	font-family: "Lato-Black";
	font-size: 24px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 65px;
	margin-left: 210px;
}

.nav_shoppping_cart  ol {
	background-color: transparent;
	display: table;
	position: relative;
	top: 55px;
	left: 730px;
}

.nav_shoppping_cart a {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #636363;
	font-weight: 300;
	text-decoration: none;
	letter-spacing: 0.2px;
}

.nav_shoppping_cart  a:hover {
	color: #f16d7f;
	font-weight: 900;
}

.container_shopping_cart {
	width: 1140px;
	margin: 0 auto;
	margin-right: 250px;
}

.container_shopping_cart .basket_big {
	margin-bottom: 15px;
}

.container_shopping_cart .basket_big tbody tr td {
	padding-left: 18px;
	vertical-align: middle;
	color: #656565;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.container_shopping_cart .basket_big .number {
	text-align: center;
	margin-left: -10px;
	width: 54px;
	height: 30px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.container_shopping_cart .basket_big .fa-times-circle {
	width: 15px;
	height: 15px;
	color: #c0c0c0;
	font-size: 16px;
	font-weight: 400;
}

.container_shopping_cart .basket_big figure {
	width: 300px;
}

.container_shopping_cart .basket_big th {
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
}

.container_shopping_cart .basket_big figcaption:nth-child(3n-1) {
	color: #222222;
	font-family: Lato-Black;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 10px;
}

.container_shopping_cart .basket_big figure {
	margin-left: -15px;
}

.container_shopping_cart .basket_big figcaption {
	width: 250px;
	margin-left: 120px;
}

.container_shopping_cart .basket_big figcaption:nth-child(2n-1) {
	padding-top: 25px;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	color: #575757;
	font-weight: 300;
}

.container_shopping_cart .clear_button a {
	float: left;
	width: 235px;
	height: 50px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;
	margin-left: -15px;
}

.container_shopping_cart .continue_button a {
	float: right;
	width: 235px;
	height: 50px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;
	margin-right: -15px;
}

.container_shopping_cart .clearfix {
	margin-bottom: 50px;
}

.shipping_address {
	margin-left: -15px;
	width: 354px;
	float: left;
}

.shipping_address h3 {
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;	
	margin-bottom: 15px;
}
.shipping_address .dropdown .btn-secondary {
	text-align: left;
	width: 355px;
	height: 45px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	color: #b1b1b1;
}

.shipping_address .dropdown span {
	margin-top: 8px;
	float: right;
}

.shipping_address input {
	padding-left: 10px;
	margin-top: 20px;
	display: block;
	width: 355px;
	height: 45px;
	border: 1px solid #eaeaea;
	font-size: 13px;
	font-weight: 300;
	color: #b1b1b1;
}

.shipping_address .btn-default {
	margin-top: 20px;
	margin-bottom: 80px;
	width: 100px;
	height: 35px;
	border: 1px solid #eaeaea;
	font-family: Lato-Black;
	font-size: 11px;
	font-weight: 700;
}

.coupon_discont {
	width: 355px;
	margin-left: 4.5%;
	float: left;
}

.coupon_discont h3 {
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.coupon_discont p {
	color: #000000;
	font-size: 14px;
	font-weight: 300;
}

.coupon_discont input {
	padding-left: 10px;
	margin-top: 20px;
	display: block;
	width: 355px;
	height: 45px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	font-size: 13px;
}

.coupon_discont button {
	margin-top: 20px;
	margin-bottom: 80px;
	width: 118px;
	height: 35px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #4a4a4a;
	font-family: Lato-Black;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}

.grand_total {
	margin-left: 69.8%;
	width: 360px;
	height: 214px;
	background-color: #f5f3f3;
}

.grand_total .border1 {
	padding-top: 40px;
	width: 275px;
	margin: 0 auto;
	border-bottom: 1px solid #e2e2e2;
}

.grand_total .border1 span:nth-child(1) {
	display: block;
	color: #4a4a4a;
	font-family: Lato-Bold;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 10px;
}

.grand_total .border1 span:nth-child(2) {
	display: block;
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 15px;
}

.grand_total .border1 span:nth-child(2) > b {
	color: #f16d7f;
}

.grand_total button {
	margin-left: 43px;
	margin-top: 20px;
	width: 273px;
	height: 50px;
	background-color: #f16d7f;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}